@model ML.Materia
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Materia</h1>
        </div>
    </div>

    @using (Html.BeginForm("Formulario", "Materia", FormMethod.Post))
    {
        <div class="row">
            <div class="col-12">
               @Html.Partial("_FormularioDireccion", Model)

                @* Demas informacion ....*@
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h1>Grupos</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="mb-3">
                    @Html.LabelFor(model => model.Grupo.Nombre)
                    @Html.TextBoxFor(model => model.Grupo.Nombre)
                </div>

                <div class="mb-3">
                    @Html.LabelFor(model => model.Grupo.Plantel.IdPlantel)
                    @Html.TextBoxFor(model => model.Grupo.Plantel.IdPlantel)
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Agregar</button>

    }



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ediatr direccion
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_FormularioDireccion", Model)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



</div>

